.carrusel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
  }

  .skill {
    flex: 0 0 200px; /* Ancho fijo de cada habilidad */
    height: 200px;
    margin-right: 10px; /* Espacio entre cada habilidad */
    background-color: #ccc;
    scroll-snap-align: start; /* Asegura que cada habilidad aparezca completamente en la vista */
  }